.footer__links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-flow: wrap;
}

@media screen and (max-width: 425px) {
    .footer__links {
        margin: 0;
        flex-flow: column;
    }
}