@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragrahp/place__paragrahp.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
@import url(./__card/place__card.css);
@import url(./__text/place__text.css);


.place {

    margin: 0 0 0 0;
    display: grid;
  
    grid-row-gap: 48px;

}

@media screen and (max-width: 768px) {
    .place {
        align-self: start;
        
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-gap: 32px 0px;
   
}
}