.place__text {
    min-height: 460px;
}

@media screen and (max-width: 1024px) {
    .place__text {
       
        min-height: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__text {
        min-height: 340px;
    }
}

@media screen and (max-width: 425px) {
    .place__text {
        min-height: 320px;
        min-width: 288px;
        margin: 0 16px 0;
}
}